<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns=""
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<th:block layout:fragment="metadata" th:remove="tag">
  <title>Draw</title>
</th:block>

<th:block layout:fragment="content" th:remove="tag">
  <h1 style="color:var(--text); padding-top:5%;" class="text-center">JavaScript - Draw on Canvas</h1>
  <div class="row justify-content-around" style="width:60%;color:var(--text); padding-top:15px">
    <div style="text-align:center;">
      <canvas id="canvas" width="512" height="384" ></canvas>
    </div>
    <div style="padding-top:15px">
      <form action="/frq3">
        <label for="initx">What would you like the starting x-value to be? </label> <br>
        <input class="inputForm" type="text" id="initx" name="initx"> <br>
        <label for="inity">What would you like the starting y-value to be? </label> <br>
        <input class="inputForm" type="text" id="inity" name="inity"> <br>
        <label for="side">What would you like the side-length to be? </label> <br>
        <input class="inputForm" type="text" id="side" name="side"> <br><br>

        <input class="submitButton" type="submit" value="Submit">
      </form>
    </div>
  </div>

  <script>
    // https://www.w3schools.com/graphics/canvas_intro.asp
    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');
    const width = canvas.width;
    const height = canvas.height;
    const unit = 16;   // unit block size


    // grid based off of width, height
    function grid(){
      // color and pen width
      ctx.strokeStyle = 'black';
      ctx.lineWidth = 1;
      // make graph paper look
      for (let col = 0; col < width; col += unit) {
        for (let row = 0; row < height; row += unit) {
          ctx.strokeRect(col, row, unit, unit);
        }
      }
    }

    // axis lines
    function axis() {
      // color and pen width
      ctx.strokeStyle = 'red';
      ctx.lineWidth = 3;

      // x & y zero midpoints of grid
      const x0 = width*.5;
      const y0 = height*.5;
      // x-axis
      ctx.moveTo(0, y0);
      ctx.lineTo(width, y0);
      ctx.stroke();
      // y-axis
      ctx.moveTo(x0, 0);
      ctx.lineTo(x0, height);
      ctx.stroke();
    }

    // square using lines
    function square() {
      ctx.strokeStyle = '#2980b9';
      ctx.lineWidth = 5;

      // starting coordinates
      const x = unit * [[${initx}]];
      const y = unit * [[${inity}]];
      const x0 = width*.5;
      const y0 = height*.5;
      // length of sides is 4 units
      const l = unit*[[${side}]];

      // draw a square
      ctx.beginPath();
      ctx.moveTo(x0 + x, y0 - y);
      ctx.lineTo(x0 + x, y0 - y - l);
      ctx.lineTo(x0 + x + l, y0 - y - l);
      ctx.lineTo(x0 + x + l, y0 - y);
      ctx.lineTo(x0 + x, y0 - y);
      ctx.stroke();
    }
    // three actions
    grid();
    axis();
    // hack 1: make square according to grid positioning
    square();
    // hack 2: plot line or square on grid from user input according
  </script>

</th:block>

</html>