<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Very professional project</title>
    <style>
        code {
            display: block;
            white-space: pre-wrap
        }
    </style>
</head>
<body>
<h2>Demo</h2>
<form action="/frq5">
    <label for="hostName">Who is the host of the party? </label>
    <input type="text" id="hostName" name="hostName"> <br>
    <label for="address">Where is the party? </label>
    <input type="text" id="address" name="address"> <br>
    <label for="guest">Who is the guest? </label>
    <input type="text" id="guest" name="guest"> <br>
    <label for="prefix">What password prefix would you like to use? </label>
    <input type="text" id="prefix" name="prefix"> <br>
    <label for="length">How long would you like the generated password to be? </label>
    <input type="text" id="length" name ="length"> <br>

    <input type="submit" value="Submit">
</form>
<table class="mx-auto">
    <tr>
        <th scope="col">Description</th>
        <th scope="col">Value</th>
    </tr>
    <tr th:each="value, idx : ${data}">
        <td th:text="${desc[idx.index]}"></td>
        <td th:text="${value}"></td>
    </tr>
</table>

<h2>Obligatory Reflection</h2>
<p>So. Password generation. I took the lazy way out and just used the built-in random module, since that was clearly what CollegeBoard wanted us to do. I just want to state for the record that this is the most obvious usecase for a CSPRNG and we really should have used one. The current implementation is insecure.</p>
<p>Otherwise, not much to say. Just format strings and...that's it, to be entirely honest. I don't even remember what this unit was about, but it certainly wasn't anything difficult.</p>


<h2>Obligatory Code</h2>
<code>
    public class invitation {
        private String hostName;
        private String address;

        public invitation(String hostName, String address) {
            this.hostName = hostName;
            this.address = address;
        }

        public invitation(String address) {
            this.hostName = "Host";
            this.address = address;
        }

        public String getHostName() {
            return hostName;
        }

        public void updateAddress(String address) {
            this.address = address;
        }

        public String generateInvitation(String name) {
            return String.format("Dear %s, please attend my event at %s. See you then, %s.", name, address, hostName);
        }
    }

    import java.util.Random;
    public class passwordGenerator {
        static int passwordsGenerated;
        private int length;
        private String prefix;

        public passwordGenerator(int length) {
            this.length = length;
            this.prefix = "A";
        }

        public passwordGenerator(int length, String prefix) {
            this.length = length;
            this.prefix = prefix;
        }

        public int pwCount() {
            return passwordsGenerated;
        }

        public String pwGen() {
        String digits = "";
        Random rand = new Random();

        for (int i = 0; i < this.length; i++) {
            digits += rand.nextInt(10);
        }

        passwordsGenerated += 1;

        return String.format("%s.%s", this.prefix, digits);
        }
    }
</code>
</body>
</html>