<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Very professional project</title>
    <style>
        code {
            display: block;
            white-space: pre-wrap
        }
    </style>
</head>
<body>
<h2>Demo</h2>
<form action="/frq9">
    <label for="title">What is the title of the book? </label>
    <input type="text" id="title" name="title"> <br>
    <label for="author">Who is the author of the book? </label>
    <input type="text" id="author" name="author"> <br>
    <label for="illustrator">Who is the illustrator of the book? </label>
    <input type="text" id="illustrator" name="illustrator"> <br>
    <label for="price">What is the price of the book? </label>
    <input type="text" id="price" name="price"> <br>
    <label for="type">Which animal are we creating? </label>
    <select id="type" name="type">
        <option value="1">Animal (general)</option>
        <option value="2">Herbivore</option>
        <option value="3">e l e p h a n t</option>
    </select> <br>
    <label for="name">What is the name of the animal? </label>
    <input type="text" id="name" name="name"> <br>
    <label for="foodStrategy" id="strattext">What is the feeding strategy of the animal? </label>
    <input type="text" id="foodStrategy" name="foodStrategy"> <br>
    <label for="species" id="speciestext">What is the species of the animal? </label>
    <input type="text" id="species" name="species"> <br>
    <label for="tusks" id="tuskstext">How long are the elephant's tusks? (meters)</label>
    <input type="text" id="tusks" name="tusks"> <br>

    <input type="submit" value="Submit">
</form>

<script>
    let strat = document.getElementById('foodStrategy');
    let species = document.getElementById('species');
    let tusks = document.getElementById('tusks');
    let strattext = document.getElementById('strattext');
    let speciestext = document.getElementById('speciestext');
    let tuskstext = document.getElementById('tuskstext');

    tusks.style.display = 'none';
    tuskstext.style.display = 'none';

    function changeElement(value) {
        switch (value) {
            case '1':
                strat.style.display = 'inline';
                species.style.display = 'inline';
                tusks.style.display = 'none';
                strattext.style.display = 'inline';
                speciestext.style.display = 'inline';
                tuskstext.style.display = 'none';
                break;
            case '2':
                strat.style.display = 'none';
                species.style.display = 'inline';
                tusks.style.display = 'none';
                strattext.style.display = 'none';
                speciestext.style.display = 'inline';
                tuskstext.style.display = 'none';
                break;
            case '3':
                strat.style.display = 'none';
                species.style.display = 'none';
                tusks.style.display = 'inline';
                strattext.style.display = 'none';
                speciestext.style.display = 'none';
                tuskstext.style.display = 'inline';
                break;
            default:
                alert("Uh oh.");
        }
    }

    type.addEventListener("input", function (e) {
        changeElement(this.value);
    });
</script>
<table class="mx-auto">
    <p>Book info: <span th:text="${bookinfo}"></span></p>
    <p>Animal: <span th:text="${animal}"></span></p>
</table>

<h2>Obligatory Reflection</h2>
<p>As an FRQ, this was not particularly difficult. The problem is clearly an introductory exercise into inheritance, and the code is like 30 lines total.</p>
<p>The MVC, on the other hand, was much more difficult. In order to demonstrate all of the classes, I need a substantial number of conditionals. Java does not like this. I ended up violating DRY in like thirty different places and I hate it.</p>
<p>Seriously, it sucks. Also, I had to touch Javascript, which I haven't touched in a while. It was fun. Super clumsy, of course. I think I could have handled it better, maybe with divs? But it works.</p>


<h2>Obligatory Code</h2>
<code>
    public class Book {
        private String title;
        private String author;

        public Book(String t, String a) {
            title = t;
            author = a;
        }

        public String printBookInfo() {
            return title + ", written by " + author;
        }
    }


    public class PictureBook extends Book {
        private String illustrator;

        public PictureBook(String t, String a, String i) {
            super(t, a);
            illustrator = i;
        }

        public String printBookInfo() {
            return super.printBookInfo() + " and illustrated by " + illustrator;
        }
    }


    public class BookListing {
        private Book book;
        private double price;

        public BookListing(Book book, double price) {
            this.book = book;
            this.price = price;
        }

        public String printDescription() {
            return String.format("%s, $%.2f", book.printBookInfo(), price);
        }
    }


    public class Animal {
        private String foodStrategy, species, name;

        public Animal(String foodStrategy, String species, String name) {
            this.foodStrategy = foodStrategy;
            this.species = species;
            this.name = name;
        }

        public String toString() {
            return String.format("%s the %s is a %s", name, species, foodStrategy);
        }
    }


    public class Herbivore extends Animal {
        public Herbivore(String species, String name) {
            super("herbivore", species, name);
        }
    }


    public class Elephant extends Herbivore {
        private double tuskLength;

        public Elephant(String name, double tuskLength) {
            super("elephant", name);
            this.tuskLength = tuskLength;
        }

        public String toString() {
            return super.toString() + " with tusks " + tuskLength + " meters long";
        }
    }  
</code>
</body>
</html>