<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Harry's Page</title>
    </div>

<body>
<div layout:fragment="content" th:remove="tag">
    <div style="color:var(--text); padding-top:30px; padding-left: 30px;">
        <h1 class="sectionTitle">Unit 3 FRQ Question 1</h1>
        <div class="sectionText">
          <form action="/harry/frq3" method="GET" style="padding-bottom:30px;">
<!--question a-->
               <label style="color:white; padding-top:30px" for="attending">Are going to attend</label>
                <input id="attending" name="attending" type="checkbox">
                <p>if(rsvp){System.out.println("Attending");}<br>
                    else{System.out.println("Not attending");}

                <p th:text="'Result:'+${a}"></p>
<!--question b-->
              <label style="color:white" for="select">Select a number:</label>
              <input id="select" name="select" type="number" minlength="1" maxlength="3">
                <p th:text="'Result: ' +${b}"></p>

                <br>
                <input type="submit">
            </form>


        </div>
    </div>
</div>
</body>
</html>