<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
  <div layout:fragment="metadata" th:remove="tag">
    <title>Harry's Page</title>
  </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
  <div style="color:var(--text); padding-top:30px; padding-left: 30px;">
    <h1 class="sectionTitle">Unit 5 FRQ Question 2</h1>
    <div class="sectionText">
      <h2>Password Generator</h2>
      <form action="/harry/frq5b" method="GET" style="padding-bottom:30px;">
        <label style="color:white; padding-top:30px" for="flength">Enter length for 1st password</label>
        <input id="flength" name="flength" type="number" min="4" required>
        <br>
        <label style="color:white; padding-top:30px" for="pref">Enter prefix for 1st password</label>
        <input id="pref" name="pref" type="text">
        <br>
        <label style="color:white; padding-top:30px" for="second">Enter length for 2nd password</label>
        <input id="second" name="second" type="number" min="6" required>
        <br>
        <input type="submit" value="Generate!">

      </form>
    </div>
  </div>
</div>
</body>
</body>
</html>