<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
  <div layout:fragment="metadata" th:remove="tag">
    <title>Harry's Page</title>
  </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
  <div style="color:var(--text); padding-top:30px; padding-left: 30px;">
    <h1 class="sectionTitle">Unit 5 FRQ Question 2</h1>
    <div class="sectionText">
      <h2>Password Generator</h2>
      <input type="button" onclick="location.href='/generate.htm'" value="Generate!">


      <p th:text="${a}"></p>
    </div>
  </div>
</div>
</body>
</body>
</html>