<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Harry's Page</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">

    <div style="color:var(--text); padding-top:30px; padding-left: 30px;">
        <h1 class="sectionTitle">Unit 4 FRQ Question 2</h1>
        <div class="sectionText">
            <h2>Simulating a two player game</h2>
            <!--inputting max rounds-->
            <form action="/harry/frq4b" method="GET" style="padding-bottom:30px;">
                <label style="color:white; padding-top:30px" for="rounds">Enter number of rounds to be played:</label>
                <input id="rounds" name="rounds" type="number" min ="1" required>
                <br>
                <!-- inputting initial coins-->
                <label style="color:white; padding-top:30px" for="coin">Enter initial number of coins</label>
                <input id="coin" name="coin" type="number" min ="10" required>
                <br>
                <input type="submit">
                <br>
                <a href="/harry/frq4code">link to code</a>

            </form>
            <p>Result:</p>
            <table>
                <tr>
                    <th>Player 1 coins</th>

                     <th>Player 2 coins</th>

                     <th>Total Rounds</th>
                </tr>
                <tr>
                        <td></td>
                        <td></td>
                        <td th:text="${round}"></td>
                </tr>
            </table>

        </div>
    </div>


</div>
</body>
</html>