<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Harry's Page</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout --><
<body>
<div layout:fragment="content" th:remove="tag">
    <div style="color:var(--text); padding-top:30px; padding-left: 30px;">
        <h1 class="sectionTitle">Unit 6 FRQ Question 2</h1>
        <div class="sectionText">
            <form action="/harry/frq7" method="GET" style="padding-bottom:30px;">
                <label style="color:white; padding-top:30px" for="first">Enter first name: </label>
                <input id="first" name="first" type="text" required>
                <br>
                <label style="color:white; padding-top:30px" for="last">Enter last name: </label>
                <input id="last" name="last" type="text" required>
                <p th:text="'Result: '+${a}"></p>
                <br>
                <p th:text="'number of names: '+${count}"></p>
                <br>
                <input type="submit" value="Submit">

            </form>


        </div>
    </div>
</div>
</body>
</html>