<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Rachel's FRQ Unit 3</title>
    </div>
    <style>
        code {
            display: block;
            white-space: pre-wrap
        }
    </style>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<!-- Start of body content specific to page -->
<h2>Incorporating Unit3 FRQ</h2>
<form action="/rachel/frq3">
    <label for="rsvp">Click the box if you would like to rsvp! </label>
    <input style="margin-left:10px" class="inputRadioCheck" type="checkbox" id="rsvp" name="rsvp"> <br>
    <br>
    <label for="selection">What food would you like? Input a number between 1 and 4:</label>
    <input type="integer" id="selection" name="selection" min="1" max="4">
    <br>
    <label for="option1">Type a random string (option 1): </label><br>
    <input type="text" id="option1" name="option1"> <br>
    <br>
    <label for="option2">Type a random string (option 2): </label><br>
    <input type="text" id="option2" name="option2"> <br><br>

    <input type="submit" value="Submit">
</form>

<h2> Displaying Results</h2>
<!--
<table class="frq3">
    <tr>
        <td th:text="'Did you rsvp?: ' + ${rsvp}"></td>
        <td th:text="'You will be served ' + ${food}"></td>
        <td th:text="${message}"></td>
        <td th:text="'Does option1 and option2 match?: ' + ${stringMatch}"></td>
    </tr>
</table>
-->

<h2> Notes/Reflection on FRQ Unit </h2>
<a href="https://docs.google.com/document/d/12AK_aCQxpbIst34MGKucKH7U1VykB7FNiyskWB-RYGo/edit?usp=sharing" target="_blank">Click me to see more thorough notes for College Board Unit 3</a>
<h3>Highlighted notes/key takeaways from the FRQ</h3>
<p>For loops, if-else loops</p>
<p>Comparing Objects</p>

<h2>Test Corrections</h2>
<p>No test corrections, solutions were relatively accurate. Could be instances where code is more efficient.</p>

<h2>Solutions for FRQ Unit 3</h2>
<code>
    FRQ Question #1
    a)
    if (rsvp = true){
    System.out.println("attending");
    }
    else {
    System.out.println("not attending");
    }

    b)
    String[] printfood = {"fish", "beef", "chicken", "pasta", "fish"};
    if (selection < 4){
    System.out.println(printfood[selection]);
    }
    else {
    System.out.println("fish");
    }

    c)
    if (rsvp = true){
    if (selection = 1){
    option 1 = "Thanks for attending. You will be served beef.";
    }
    else if (selection = 2){
    option 1 = "Thanks for attending. You will be served chicken.";
    }
    else if (selecttion = 3){
    option 1 = "Thanks for attending. You will be served pasta.";
    }
    else{
    option 1 = "Thanks for attending. You will be served fish.";
    }
    if (rsvp = false){
    option 1 = "Sorry you can't make it.";
    }

    d)
    if (option 1 == option 2){
    System.out.println("true");
    }
    else{
    System.out.println("false");
    }
    </code>
<code>
    FRQ Question #2)
    a)
    public void drawSquare (int x, int y, int len){
    if (x + length > 10 && y + length > 10){
    int a = 10-x;
    int b = 10-y;
    if (a >= b) {
    length = b
    }
    else {
    length = a
    }
    drawLine(x, y, x+length, y); //draw part of the square
    drawLine(x, y, x, y+length);
    drawLine(x+length, y, x+length, y+length);
    drawLine(x, y+length, x+length, y+length);
    System.out.println("side length = " + length + ", area = " + Math.pow(length, 2)); //print length & area
    }

    else if (x + length > 10 && y + length <= 10){
    length = 10-x;
    drawLine(x, y, x+length, y); //draw part of the square
    <p>drawLine(x+length, y, x+length, y+length);</p>
    drawLine(x, y+length, x+length, y+length);
    System.out.println("side length = " + length + ", area = " + Math.pow(length, 2)); //print length & area
    }
    else if (y + length > 10 && x + length <= 10){
    length = 10-y;
    drawLine(x, y, x+length, y); //draw part of the square
    <p>drawLine(x, y, x, y+length);</p>
    drawLine(x+length, y, x+length, y+length);
    drawLine(x, y+length, x+length, y+length);
    System.out.println("side length = " + length + ", area = " + Math.pow(length, 2)); //print length & area
    }
    else if (x + length < 10 && y + length < 10){
    drawLine(x, y, x+length, y); //draw part of the square
    drawLine(x, y, x, y+length);
    drawLine(x+length, y, x+length, y+length);
    drawLine(x, y+length, x+length, y+length);
    System.out.println("side length = " + length + ", area = " + Math.pow(length, 2)); //print length & area
    }

    }
</code>

<!-- end of body content specific to page -->

</body>
</html>