<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Unit 5 FRQ Interactive</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="color:var(--text); padding:30px">
        <h1 class="sectionTitle">Unit 5 FRQ</h1>

        <div class="row" style="padding-left:20px">
            <form action="/kevin/unit5/interactive">
                <label for="name">What's your name?</label><br>
                <input class="inputForm" type="text" id="name" name="name"> <br>

                <label for="addy">What's the addy?</label><br>
                <input class="inputForm" type="text" id="addy" name="addy"> <br>

                <br>

                <input class="submitButton" type="submit" value="Submit">
            </form>
            <div style="margin-left:50px">
                <table>
                    <tr>
                        <td th:text="${invite}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- end of body content specific to page -->
    </div>
</div>
</body>
</html>