<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Unit 3 FRQ</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="color:var(--text); padding-top:30px; padding-left: 30px">
        <h1 class="sectionTitle">Unit 3 FRQ</h1>
        <div>
            <p class="sectionText">(a) Write a code segment that prints "attending" if rsvp is true and prints "not attending" otherwise.
            </p>
            <code>System.out.println(rsvp ? "attending" : "not attending");</code>

            <p class="sectionText">(b) Write a code segment that prints the food item associated with selection. For example, if selection is 3, the code segment should print "pasta".
            </p>
            <code>
                <pre class="codeText">
String food = "";
switch(selection) {
    case 1:
        food = "beef";
        break;
    case 2:
        food = "chicken";
        break;
    case 3:
        food = "pasta";
        break;
}
System.out.println(food);
                </pre>
            </code>

            <p class="sectionText">(c) Write a code segment that will store a dinner selection in option1 based on the values of rsvp and selection. The intended behavior of the code segment is described below.
                <br>If rsvp is true, the code segment should store in option1 a string indicating the person’s attendance and food choice. For example, if rsvp is true and selection is 1, the following string should be stored in option1.
                <br>&nbsp;"Thanks for attending. You will be served beef."
                <br>If rsvp is false, the following string should be stored in option1, regardless of the value of selection.
                <br>&nbsp;"Sorry you can't make it."</p>
            <code>
                <pre class="codeText">
String food = "";
String message = "";

if(rsvp) {
    switch(selection) {
        case 1:
            food = "beef";
            break;
        case 2:
            food = "chicken";
            break;
        case 3:
            food = "pasta";
            break;
    }
message = "Thanks for attending. You will be served " + food + ".";
} else {
    message = "Sorry you can't make it.";
}
System.out.println(message);
                </pre>
            </code>

            <p class="sectionText">(d) Write a code segment that will print true if the strings option1 and option2 contain the same values and will print false otherwise.
            </p>
            <code>System.out.println((Objects.equals(option1, option2)) ? "true" : "false");</code>
        </div>

    </div>

    <!-- end of body content specific to page -->
</div>
</body>
</html>