<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Unit 4 FRQ</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="color:var(--text); padding-top:30px; padding-left: 30px">
        <h1 class="sectionTitle">Unit 4 FRQ</h1>
        <div>
            <p class="sectionText">Part 1: The method longestStreak is intended to determine the longest substring of consecutive identical characters in the parameter str and print the result.

                <br>For example, the call longestStreak("CCAAAAATTT!") should print the result "A 5" because the longest substring of consecutive identical characters is "AAAAA".
            </p>
            <code>
                <pre class="codeText">
char prevChar = ' ';

        String maxStreak = "";
        String currStreak = "";

        for (int i = 0; i < str.length(); i++){
            if (str.charAt(i) != prevChar){
                currStreak = "";
            }
            currStreak += str.charAt(i);
            if (currStreak.length() > maxStreak.length()){
                maxStreak = currStreak;
            }
            prevChar = str.charAt(i);
        }
        return maxStreak.charAt(0)+ " " + maxStreak.length();
                </pre>
            </code>

        </div>

    </div>

    <!-- end of body content specific to page -->
</div>
</body>
</html>