<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Unit 4 FRQ Interactive</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="color:var(--text); padding:30px">
        <h1 class="sectionTitle">Unit 4 FRQ</h1>

        <div class="row" style="padding-left:20px">
            <form action="/kevin/unit4/interactive">
                <label for="word">Type a random string: </label><br>
                <input class="inputForm" type="text" id="word" name="word"> <br>

                <label for="word">Round: </label><br>
                <input class="inputForm" type="text" id="round" name="round"> <br>
                <label for="coin1">Player 1 Coins: </label><br>
                <input class="inputForm" type="text" id="coin1" name="coin1"> <br>
                <label for="coin2">Player 2 Coins: </label><br>
                <input class="inputForm" type="text" id="coin2" name="coin2"> <br>
                <br>

                <input class="submitButton" type="submit" value="Submit">
            </form>
            <div style="margin-left:50px">
                <table>
                    <tr>
                        <td th:text="${longestStreak}"></td>
                    </tr>
                    <tr>
                        <td th:text="${game}"></td>
                    </tr>
                    <tr>
                        <td th:text="${round}"></td>
                    </tr>
                    <tr>
                        <td th:text="${coin1}"></td>
                    </tr>
                    <tr>
                        <td th:text="${coin2}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- end of body content specific to page -->
    </div>
</div>
</body>
</html>