<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Unit 7 FRQ Interactive</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="color:var(--text); padding:30px">
        <h1 style="color:var(--blue)" class="sectionTitle">Unit 7 FRQ</h1>
        <a target="_blank" href="https://github.com/wrachel/TaxEvaders/blob/b54a93e0153bdad931c10669f71ecd9581aeeb68/src/main/java/com/project/passwordmanager/controllers/kevin/UserName.java">code</a>
        <div class="row" style="padding-left:20px">
            <form action="/kevin/unit7/interactive">
                <label for="firstName">First Name:</label><br>
                <input class="inputForm" type="text" id="firstName" name="firstName"> <br>

                <label for="lastName">Last Name:</label><br>
                <input class="inputForm" type="text" id="lastName" name="lastName"> <br>

                <label for="usedNames">Make a Names Used List (separated with<br> comma and a space).</label><br>
                <input class="inputForm" type="text" id="usedNames" name="usedNames"> <br>


                <br>

                <input class="submitButton" type="submit" value="Submit">
            </form>
            <div style="margin-left:50px">
                <table>
                    <tr>
                        <td>
                            <p th:each="names : ${list1}" th:text="${names}"><p/>
                        </td>
                        <td>
                            <p th:each="names : ${list2}" th:text="${names}"><p/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- end of body content specific to page -->
    </div>
</div>
</body>
</html>