<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FRQ Unit 2 Solutions</title>

    <style>
        code {
            display: block;
            white-space: pre-wrap
        }
    </style>
</head>
<body>

<h2>Solutions for FRQ Unit 2</h2>
<code>
    a)LightSequence gradShow = new LightSequence("0101 0101 0101");
    b) gradShow.display();
    c) gradShow.changeSequence("0011 0011 0011");
    d) String resultSeq = gradshow.insertSegment("1111 1111", 4);
    e) int index = oldSeq.indexOf(segment);
    String newSeq = oldSeq.substring(0, index) + oldSeq.substring(index + 1);
    f)int distance = Math.sqrt(a*a + b*b);
    System.out.println(distance);
</code>

<h2> Notes/Reflection on FRQ Unit </h2>
<a href="https://docs.google.com/document/d/1bdeKhlj34GqYaTwPCsn4Er7RvofaMheYy40i66PUy8g/edit" target="_blank">Click me to see more thorough notes for College Board Unit</a>
<h3>Highlighted notes/key takeaways from the FRQ</h3>
<p>Understanding how to create and store Objects and instances of classes</p>
<p>Calling Void Method and Non-Void Method</p>
<p>String Methods</p>
<p>Math class Methods</p>

<h2>Test Corrections</h2>
<p>No test corrections, solutions were accurate. </p>

</body>
</html>