<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rachel's CollegeBoard Unit 7 FRQ</title>

    <style>
        code {
            display: block;
            white-space: pre-wrap
        }
    </style>
</head>
<body>
<h1>CollegeBoard Unit 7 FRQ</h1>
<p>In this FRQ, users can input their first name and last name and receive a random username using their first and last name.</p>
<a href="https://github.com/wrachel/TaxEvaders/blob/main/src/main/java/com/project/frqs/rachel/rachelfrq7.java">Link to Java Code</a>
<div>
    <form action="/rachel/frq7">
        <label for="firstName">What is your first name?: </label>
        <input id="firstName" name="firstName" type="text"><br>
        <label for="lastName">What is your last name?: </label>
        <input id="lastName" name="lastName" type="text"><br>
        <input type="submit">
    </form>
</div>

<table class="results">
    <tr>
        <td><p>Here is your random username!: </p></td>
        <td th:text= "${username}" ></td>
    </tr>
</table>

<h2>Reflection</h2>
<p>I thought that this FRQ was not too difficult, but I liked how it highlighted a lot on arrays and how navigate using arrays, like adding and removing values. It introduced scenarios when using an array is optimal.</p>
<p>I would also like to mention that this FRQ was a good reminder of how to call different methods, and a refresher of what String methods can be used.</p>
<p>Additionally, part a was very interesting because it asked us to check with preconditions whether the firstName and lastName fit our conditions. This seemed very relevant to me, especially as we work more with user input.</p>

<h3>Key concepts</h3>
<p>String methods, for example: length() or matches() or substring()</p>
<p>Understand how arrays work and different methods that you can use in arrays -> in example, how to get the size of an array or add/remove values from an array </p>
<h3>Solution</h3>
<code>
    a)

    public UserName(String firstName, String lastName){
        if (firstName.length() > 0 && lastName.length() > 0 && firstName.matches("[a-zA-Z]+") && lastName.matches("[a-zA-Z]+")){
            for(int i = 0; i < firstName.length(); i++){
                possibleNames.add(lastName + firstName.substring(0, i));
            }
        }
        else{
            System.out.println("Please make sure both firstName and lastName only contain upper/lowercase letters, and are at least a length of 1");
        }
    }

    b)
    public void setAvailableUserNames(String[] usedNames){
        for(int i = 0; i < possibleNames.size(); i++){
            if (isUsed(possibleNames.get(i), usedNames){
                possibleNames.remove(i);
                i--;
            }
        }
    }
</code>


</body>
</html>