<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rachel's CollegeBoard Unit 7 FRQ</title>

    <style>
        code {
            display: block;
            white-space: pre-wrap
        }
    </style>
</head>
<body>
<div>
    <form action="/rachel/frq7">
        <label for="firstName">What is your first name?: </label>
        <input id="firstName" name="firstName" type="text"><br>
        <label for="lastName">What is your last name?: </label>
        <input id="lastName" name="lastName" type="text"><br>
        <input type="submit">
    </form>
</div>

<table class="results">
    <tr>
        <td><p>Here is your random username!: </p></td>
        <td th:text= "${username}" ></td>
    </tr>
</table>
<code>

</code>


<h2>Reflection Questions</h2>
<p>Key Concepts for this week: </p>
<p></p>
<p> </p>

</body>
</html>