<!--
a) LightSequence gradShow = new LightSequence("0101 0101 0101");
b) gradShow.display();
c) gradShow.changeSequence("0011 0011 0011");
d) LightSequence resultSeq = gradShow.insertSegment("1111 1111", 4);
e) String newSeq = segment.replaceFirst(oldSeq);
f) import java.lang.Math;
// code omitted
System.out.println(Math.sqrt(Math.pow(a, 2) + Math.pow(b, 2)));
-->

<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>its me</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div style="margin-left: 50px; margin-top: 50px; width:60%" class="row justify-content-around">
        <div><center>
            <a title="click to toggle!" onclick="imageSwitch(1)"><img id="image1" style="display:none" th:src="@{/images/yaboi.jpg}" src="/static/images/yaboi.jpg" width="400px" height="400px"></a>
            <a title="click to toggle!" onclick="imageSwitch(2)"><img id="image2" style="display:inline" th:src="@{/images/dominance_assertion.jpeg}" src="static/images/dominance_assertion.jpeg" width="400px" height="400px"></a>
            <h1 style="color:white" class="aboutName">its me</h1>
        </center></div>

        <div>
            <h1 style="color:white"1>Unhealthy gaming habits API</h1>
            <form action="/about/bryant">
                <label for="uuid" style="color:white">Please enter a player UUID to see their BedWars statistics: </label>
                <input type="text" id="uuid" name="uuid"> <br>

                <input type="submit" value="Submit">
            </form>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Gamemode</th>
                    <th>Final Kills</th>
                    <th>Final Deaths</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="value, idx : ${data}">
                    <td th:text="${names[idx.index]}"></td>
                    <td th:text="${value[0]}"></td>
                    <td th:text="${value[1]}"></td>
                </tr>
                </th:block>
                </tbody>
            </table>
            <p style="color:white">FKDR: <span th:text="${fkdr}"></span></p>
        </div>

        <div>
            <h1 style="color:white">Project Work</h1>
            <h3 style="color:white">This table is populated dynamically with SQL. If it's returning abnormal results, it's probably because someone is messing with my database again.</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Project</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="entry: ${work}">
                    <tr>
                        <td th:text="${entry[2]}"></td>
                        <td><a th:text="${entry[0]}" th:href="${entry[1]}"></a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <script>
            function imageSwitch(type)
            {
                if(type===1) {
                    document.getElementById('image1').style.display = 'none';
                    document.getElementById('image2').style.display = 'inline';
                }

                if(type===2) {
                    document.getElementById('image2').style.display = 'none';
                    document.getElementById('image1').style.display = 'inline';
                }
            }
        </script>
</div>
</body>
</html>