<!--
a) LightSequence gradShow = new LightSequence("0101 0101 0101");
b) gradShow.display();
c) gradShow.changeSequence("0011 0011 0011");
d) LightSequence resultSeq = gradShow.insertSegment("1111 1111", 4);
e) String newSeq = segment.replaceFirst(oldSeq);
f) import java.lang.Math;
// code omitted
System.out.println(Math.sqrt(Math.pow(a, 2) + Math.pow(b, 2)));
-->

<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>its me</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Hey kids</h1>
    <p>It's me. You know who I am.</p>
</div>
</body>
</html>