<!--
a) LightSequence gradShow = new LightSequence("0101 0101 0101");
b) gradShow.display();
c) gradShow.changeSequence("0011 0011 0011");
d) LightSequence resultSeq = gradShow.insertSegment("1111 1111", 4);
e) String newSeq = segment.replaceFirst(oldSeq);
f) import java.lang.Math;
// code omitted
System.out.println(Math.sqrt(Math.pow(a, 2) + Math.pow(b, 2)));
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>