<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Unit 2 FRQ</title>
    </div>
</head>


<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">

    <div style="color:var(--text); padding-top:30px; padding-left: 30px">
        <h1 class="sectionTitle">Unit 2 FRQ</h1>
            <div class="sectionText">
                <form action="/harry/frq2" method="GET">
                    <label style="color:white" for="sequence">(a)Input initial light sequence:</label>
                    <input id="sequence" name="sequence" type="text">
                    <input type="submit">
                </form>
                <p th:text = "${a}"><p>

            </div>

    </div>

</div>
</body>
</html>