<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Harry's Page</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->

    <div style="margin-left: 50px; margin-top: 50px; width:60%" class="row justify-content-around">
        <div><center>
            <a title="click to toggle!" onclick="imageSwitch(1)"><img id="image1" style="display:none" th:src="@{/images/grayharry.jpg}" src="/static/images/grayharry.jpg" width="400px" height="400px"></a>
            <a title="click to toggle!" onclick="imageSwitch(2)"><img id="image2" style="display:inline" th:src="@{/images/harry.jpg}" src="static/images/harry.jpg" width="400px" height="400px"></a>
                <h1 style="" class="aboutName">Harry Li</h1>
        </center></div>
        <div>
            <table class="miniTable">
                <thead>
                <tr>
                    <th><a href="https://github.com/wiz124" target ="_blank">Profile</a></th>
                    <th><a href="https://github.com/wrachel/TaxEvaders/commits?author=wiz124" target ="_blank">Commits</a></th>
                    <th><a href="https://docs.google.com/document/d/16_k_1SHg_x8uD2hea02EN_f5rCSypD75EXhMNy_6yiI/edit" target ="_blank">Journal</a></th>
                    <th><a href="https://github.com/wrachel/TaxEvaders#readme" target ="_blank">ReadMe</a></th>
                </tr>
                </thead>
            </table>
            <div style="padding-top:50px;">
                <center>
                    <p class="smallTitle">NBA API</p>
                    <form action="/about/harry" method="GET">
                        <label style="color:white" for="player">Search NBA player by ID</label>
                        <input id="player" name="player" type="number">
                        <input type="submit">
                    </form>
                    <div style="padding-top:20px">

                        <p th:text="${map.first_name} + ${space} + ${map.last_name}"  style="color:white;padding-top:15px"></p>
                        <p style="color:white;padding-top:15px" th:text="${map.position}"></p>
                        <p style="color:white;padding-top:15px" th:text="${map.team.full_name}"></p>
                    </div>
                </center>
            </div>
        </div>
        <div style="color:var(--text)">
        <h1 class="sectionTitle">FRQs</h1>
        <ul>
            <li>
                <a title="click to view page!" href="/harry/frq2">Unit 2</a>
            </li>
        </ul>
            <ul>
                <li>
                    <a title="click to view page!" href="/harry/frq3">Unit 3 Question 1</a>
                    <ul>
                        <li>
                            <a title="click to view page!" href="/frq3">Unit 3 Question 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <a title="click to view page!" href="/harry/frq4a">Unit 4 Question 1</a>
                    <ul>
                        <li>
                            <a title="click to view page!" href="/harry/frq4b">Unit 4 Question 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <a title="click to view page!" href="/harry/frq5a">Unit 5 Question 1</a>
                    <ul>
                        <li>
                            <a title="click to view page!" href="/harry/frq5b">Unit 5 Question 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <a title="click to view page!" href="/harry/frq6a">Unit 6 Question 1</a>
                    <ul>
                        <li>
                            <a title="click to view page!" href="/harry/frq6b">Unit 6 Question 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <a title="click to view page!" href="/harry/frq7">Unit 7 Question 1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a title="click to view page!" href="/harry/frq8">Unit 8 Question 1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a title="click to view page!" href="/harry/frq9">Unit 9 Question 1</a>
                    <ul>
                        <li>
                            <a title="click to view page!" href="/harry/frq9b">Unit 9 Question 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <a title="click to view page!" href="/harry/frq10">Unit 10 Question 1</a>
                </li>
            </ul>
    </div>


</div>

    <script>
        function imageSwitch(type)
        {
            if(type===1) {
                document.getElementById('image1').style.display = 'none';
                document.getElementById('image2').style.display = 'inline';
            }

            if(type===2) {
                document.getElementById('image2').style.display = 'none';
                document.getElementById('image1').style.display = 'inline';
            }
        }
    </script>
    <!-- end of body content specific to page -->
</div>
</body>
</html>