<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Unit 2 FRQ</title>
    </div>
</head>


<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <div style="color:var(--text); padding-top:30px; padding-left: 30px">
        <h1 class="sectionTitle">Unit 2 FRQ</h1>
            <div class="sectionText">
                <p>(a) </br>
                    LightSequence gradShow = new LightSequence("0101 0101 0101");
                     (b)</br>
                     gradShow.display();</br>
                       (c)</br>
                       gradShow.changeSequence("0011 0011 0011");</br>
                       (d)</br>
                        resultSeq = gradShow.insertSegment("1111 1111", 4);</br>
                      (e)</br>
                    int index = oldSeq.indexOf(segment);</br>
                      String newSeq = oldSeq.substring(0, index) + oldSeq.substring(index + segment.length());</br>
                    (f)</br>
                    System.out.println(Math.sqrt(a*a + b*b));
                     </p>
            </div>
    </div>

</div>
</body>
</html>