<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Nighthawk Security Application</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->

    <!--
website name: WeWillnotstealyourpassword inc.
layout idea:
--------------------------------------------
  maybe logo                  signup/login|
   here     buttons to places      button |
                                          |
   -----------------------------------    |
 some sort of         group name or       |
   background here ->  product name       |
   ---------------------------------      |
                                          |
                                          |
               idk what else to put       |
                                          |
        maybe purpose and message         |
                 with happy pics          |
                                          |
                                          |
                                          |
                                          |
                                          |
------------------------------------------|
-->

    <!-- end of body content specific to page -->
<img src="/resources/images/background.png" th:src="@{/resources/images/background.png}">
</div>
</body>
</html>