<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>PassManager</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
<div style="padding-top:5%" class="row justify-content-center">
    <div style="width:50%; color:var(--text)">

        <div class="row justify-content-between">
            <h1 class="sectionTitle" th:text="${username}"></h1>
            <div style="padding-top:10px">
                <form>
                    <input id="searchInput" onkeyup="searchFunction()" type="text" class="roundSearch" name="searchText">
                </form>
            </div>
        </div>
        <table style="margin-bottom:25px; text-align:center">
            <form action="/passmanager">
                <td><input class="passBoxEditable" name="application" id="application" type="text" placeholder="application"></td>
                <td><input class="passBoxEditable" name="username" id="username" type="text" placeholder="username"></td>
                <td><input class="passBoxEditable" name="password" type="password" placeholder="password"></td>
                <td><input style="width:200px" class="submitButton" type="submit" value="SUBMIT"></td>
            </form>
        </table>

        <table style="text-align: center" id="passtable">
            <thead>
                <th>Application</th>
                <th>Username</th>
                <th>Password</th>
                <th>Edit/Delete</th>
            </thead>
            <tbody>

            </tbody>
        </table>
<!--        <table>
            <tr class="passManagerTable">
                <th>Application</th>
                <th>Username</th>
                <th>Password</th>
                <th>Edit/Delete</th>
            </tr>
            <tr class="passManagerTable">
                <td>Netflix</td>
                <td>Joe</td>
                <td><input class="passBox" id="password_ID1" type="password" readonly value="MAMAMAAMMAMAMAMAAMA"></td>
                <td>
                    <button style="margin-left:25px" onclick="viewPassword('1')" class="manageIcon"><i style="color: var(--text)" class="fa fa-eye fa-fw"></i></button>
                    <button class="manageIcon"><i style="color: var(--text)" class="fa fa-edit"></i></button>
                </td>
            </tr>
            <tr class="passManagerTable">
                <td>Netflix</td>
                <td><input class="passBox" id="username_ID2" readonly type="text" value="Joe"></td>
                <td><input class="passBox" id="password_ID2" readonly type="password" value="MAMAMAAMMAMAMAMAAMA"></td>
                <td>
                    <button style="margin-left:25px" onclick="viewPassword('2')" class="manageIcon"><i style="color: var(--text)" class="fa fa-eye fa-fw"></i></button>
                    <button class="manageIcon" onclick="editFields('2')"><i style="color: var(--text)" class="fa fa-edit"></i></button>
                </td>
            </tr>
        </table>
-->
    </div>
    <script>

        function searchFunction() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            var list = document.getElementsByClassName("applicationCell");
            var row = document.getElementsByClassName("tableRow");

            for (i = 0; i < list.length; i++) {
                item = list[i];
                text = item.textContent || item.innerText;
                if (text.toUpperCase().indexOf(filter) > -1) {
                    row[i].style.display = "";
                } else {
                    row[i].style.display = "none"
                }
            }
        }

        function viewPassword(num) {
            var passwordField = document.getElementById("password_ID"+num);
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        }
        function editFields(num) {
            var passwordField = document.getElementById("password_ID"+num);
            var usernameField = document.getElementById("username_ID"+num)
            if(usernameField.readOnly){
                usernameField.removeAttribute('readonly');
                usernameField.classList.add("passBoxEditable");
                usernameField.classList.remove("passBox");
            } else {
                usernameField.readOnly= 'true';
                usernameField.classList.remove("passBoxEditable");
                usernameField.classList.add("passBox");
            }

            if(passwordField.readOnly){
                passwordField.removeAttribute('readonly');
                passwordField.classList.add("passBoxEditable");
                passwordField.classList.remove("passBox");
            } else {
                passwordField.readOnly= 'true';
                passwordField.classList.remove("passBoxEditable");
                passwordField.classList.add("passBox");
            }
        }
    </script>

    <script>
        const generateHTML = (row, idx) => {
            html = "";
            html += `<td class="applicationCell">${row[0]}</td>
                     <td><input class="passBox" id="username_ID${idx+1}" readonly type="text" value="Test"></td>
                     <td><input class="passBox" id="password_ID${idx+1}" readonly type="password" value="${row[1]}"></td>
                     <td>
                        <button style="margin-left:25px" onclick="viewPassword('${idx+1}')" class="manageIcon">
                        <i style="color: var(--text)" class="fa fa-eye fa-fw"></i>
                        </button>
                        <button class="manageIcon" onclick="editFields('${idx+1}')">
                        <i style="color: var(--text)" class="fa fa-edit"></i>
                        </button>
                     </td>`
            return html;
        }
        function get_passwords() {
            fetch(`/api/getPasswords?username=[[${username}]]`).then((response) => {
                if (response.status !== 200) {
                    console.log('Failed with code: ' + response.status);
                    return;
                }
                response.json().then((data) => {
                    // populate table with a minimum of 2 repos and save remainder into selection dropdown
                    data.forEach((e, idx) => {
                        const tbody = document.querySelector('#passtable tbody');
                        const tr = document.createElement('tr');
                        tr.className = "tableRow"
                        tr.innerHTML = generateHTML(e, idx);
                        tbody.appendChild(tr);
                    })
                });
            }).catch((err) => {
                console.log('Failed with js error ', err);
            });
        }

        (async function() {
            await get_passwords();
        })();
    </script>
</div>
    <!-- end of body content specific to page -->
</div>
</body>
</html>